div {
    width: 100%
}

.image {

    /* text-align: center;
    padding-left: 1rem;
    padding-right: 1rem; */
    transition: transform .2s;

}
.image:hover {
    transform: scale(1.1);
}
.card{
    /* width: 5rem; */
    text-align: center;
    width: 70%;
    border: none;
}

@media screen and (max-width: 500px) {
    .cardContainer {
        font-size: 0.6rem;
    }
    Card.title {
        font-size: 0.8rem;
    }
}


.cardContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}
.cardContainer:hover {
      transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;

}
.card-title {
    margin-bottom: 0;
}
.card-body {
    padding: 0;
    margin-bottom: 0;
    background-color: #fef3e7;
}

.text {
    /* width: 11rem; */
    text-align: center; 
    padding: 0;
}