div {
    width: 100%
}

.image {

    /* text-align: center;
    padding-left: 1rem;
    padding-right: 1rem; */

}
.card{
    /* width: 5rem; */
    text-align: center;
    width: 70%;
    border: none;
}

.cardContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.title {
    font-size: 1.2rem;
    font-weight: bold;

}
.card-title {
    margin-bottom: 0;
}
.card-body {
    padding: 0;
    margin-bottom: 0;
    background-color: #fef3e7;
}

.text {
    /* width: 11rem; */
    text-align: center; 
    padding: 0;
}