/* .bookGallery{
    margin: 0 auto;
    max-width: 13rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    border: none;
}

.header{
    color: blue;
} */